// _variables.scss
$primary-color: #1a73e8;
$secondary-color: #fbbc05;
$text-color: #222;
$bg-light: #ffffff;
$bg-dark: #121212;

$font-base: "Inter", sans-serif;
$font-size-base: 16px;

$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
